version: 2.1
workflows:
    version: 2
    deploy:
        jobs:
            - deploy
                filters:
                    branches:
                        only:
                        - master

jobs:
    deploy:
        machine:
            image: ubuntu-1604:201903-01
        steps:
            - add_ssh_keys:
                  fingerprints:
                      - "88:60:9a:c3:29:7e:89:e1:0f:99:4d:a2:5d:13:c6:26"
            - deploy:
                  name: Deploying to Digital Ocean
                  command: |
                      ssh -o "StrictHostKeyChecking no" arms@161.35.252.183 "cd ~ && cd gsts-front-end && git pull && sh scripts/postdeploy.sh"
